<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Propiedades del Chasis -->
  <xacro:property name="chassis_length" value="0.5"/>
  <xacro:property name="chassis_width" value="0.3"/>
  <xacro:property name="chassis_height" value="0.1"/>
  <xacro:property name="chassis_mass" value="1.0"/>

  <!-- Propiedades de las Ruedas -->
  <xacro:property name="wheel_radius" value="0.05"/>
  <xacro:property name="wheel_length" value="0.04"/>
  <xacro:property name="wheel_ygap" value="0.175"/>
  <xacro:property name="wheel_zoff" value="-0.05"/>
  <xacro:property name="wheel_mass" value="0.1"/>

  <!-- Propiedad de la Rueda Loca -->
  <xacro:property name="caster_radius" value="0.025"/>
  <xacro:property name="caster_mass" value="0.05"/>

</robot>